# Web & API
fastapi
uvicorn
python-multipart
pydantic[email]
PyJWT

# Database & Network
supabase
httpx
python-dotenv

# AI & Image Processing (Kritik Versiyonlar)
mediapipe==0.10.14
numpy==1.26.4
protobuf==4.25.3
opencv-python-headless
openai